[submodule "vendor/unittest-cpp"]
path = vendor/unittest-cpp
url = https://github.com/unittest-cpp/unittest-cpp.git
[submodule "vendor/glm"]
path = vendor/glm
url = https://github.com/g-truc/glm
[submodule "vendor/glfw"]
path = vendor/glfw
url = https://github.com/glfw/glfw
